.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
  display: flex;
}

.card img {
  border-radius: 15px;
  size: cover;
}

.cards h4 {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;

}

#content {
  justify-content: center;
}
