.container {
  margin: 0px 15%;
  padding-top: 25px;
}

@media (max-width: 960px) {
  .container {
    margin: 0px 10%;
  }
}
@media (max-width: 720px) {
  .container {
    margin: 0px 5%;
  }
}
@media (max-width: 540px) {
  .container {
    margin: 0px 3%;
  }
}
